<html>
<head><title>Define Parameters</title>

</head>
<body>

        <h3>Select values below to initiate a new run</h3>
        <form action="" method="post">
            <p><label>
                Run Name
                <input type=text name=chartLabel>
            </label></p>

            <p><label>
                Simulation Length (years)
                <input type=number name=period>
            </label></p>

            <p><label>
                Percent of BAU Emissions (%)
                <input type=number name=alpha>
            </label></p>

            <p><label>
                Dirty Capital Lifetime (years)
                <input type=number name=nh>
            </label></p>

            <p><label>
                Clean Capital Lifetime (years)
                <input type=number name=nl>
            </label></p>

            <p><label>
                Speed of Clean Capital Cost Decrease (1-100), larger is faster
                <input type=number name=FlScale>
            </label></p>

            <p><input type=submit value="Submit"></p>

        </form>

<h4>Prior Optimization Queries</h4>

 <table>
 <tr>
 <th>Label</th>
 <th>Transition Speed</th>
 <th>Length</th>
 <th>% Reduction</th>
 <th>% Dirty Capital Life</th>
 <th>% Clean Capital Life</th>

 </tr>
 {% for chartLabel, FLScale, period, alpha, nh, nl in oldParams %}
 <tr>
 <td>{{chartLabel}}</td>
 <td>{{FLScale}}</td>
 <td>{{period}}</td>
 <td>{{alpha}}</td>
 <td>{{nh}}</td>
 <td>{{nl}}</td>
 </tr>
 {% endfor %}
 </table>



<h3>Other Links</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/documentation/">Documentation</a></li></ul>

</body>
</html>



