<html>
<head><title>Define Parameters</title>

</head>
<body>

        <h3>Select values below to initiate a new run</h3>
        <form action="" method="post">
            <p><label>
                Run Name
                <input type=text name=chartLabel>
            </label></p>

            <p><label>
                Run Time
                <input type=number name=period>
            </label></p>

            <p><label>
                Reduction Percent
                <input type=number name=alpha>
            </label></p>

            <p><label>
                Dirty Capital Lifetime
                <input type=number name=nh>
            </label></p>

            <p><label>
                Clean Capital Lifetime
                <input type=number name=nl>
            </label></p>

            <p><label>
                Speed of Clean Capital Cost Decrease (1-100)
                <input type=number name=FlScale>
            </label></p>

            <p><input type=submit value="Submit"></p>

        </form>

<h3>See your Results!</h3>
        <ul>
            <li><a href="/results/">Results Page</a></li>

</body>
</html>



